* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #238c56), #072214;
}
#stopwatch {
    background-color: #26262662;
    padding: 2rem;
    border-radius: 8px;
}
#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    height: 300px;
    width: 300px;
    border: 3px solid #1c8f54;
    border-radius: 100%;
    font-weight: 600;
    font-size: 40px;
    color: #00ffcc;
    margin-bottom: 1.5rem;
    padding: 4rem;
}
#actions {
    display: flex;
    gap: 0.5rem;
}
#actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #e0e7ff;
    color: #262626;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}
#actions button:hover {
    background-color: #7eebd5;
}
#marks-list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: #ffffff;
}
#marks-list p:first-child {
    margin-top: 1.5rem;
}